body{
    font-family: 'Roboto Serif', serif;
    background-color: black;
    color: red;
    /* font-size: 8px;     */
}
#Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#left{
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 15px;
    gap: 25px;
}

#right {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-right: 15px;
}
#right button{
    width: 110px;
    height: 30px;
    border: 2px solid red;
    border-radius: 20%;
    background-color: transparent;
    color: red;
    font-size: 17px;
    font-weight: bold;
}